branches:
  only:
    - master

os:
  - windows

language: shell

jdk:
  - openjdk11

before_install:
  - |
    if [ "$TRAVIS_OS_NAME" = "windows" ]; then 
      choco install maven;
      refreshenv;
    fi;

install:
  - |
    if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then
      #Whatever you want to do
    fi;

script:
  - export JAVA_HOME="${JAVA_HOME:-/c/jdk}"
  - |
    if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then
        maven="$(find 'C:\ProgramData\chocolatey\lib\maven' -name mvn | head -n1)";
    else
        maven="mvn";
    fi;
  - $maven verify